[DEFAULT]
BEARER = bearer-app-search
HOST_APPSEARCH = host-app-search
HOST_IDENTIFIER =  host_identifier
ENGINE_NAME = engine_name

[TESTING]
BEARER = bearer-app-search
HOST_APPSEARCH = host-app-search
HOST_IDENTIFIER =  host_identifier
ENGINE_NAME = engine_name

[PRODUCTION]
BEARER = bearer-app-search
HOST_APPSEARCH = host-app-search
HOST_IDENTIFIER =  host_identifier
ENGINE_NAME = engine_name